@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-primary {
    @apply p-4 overflow-hidden min-h-screen pt-20 min-[650px]:p-20;
  }
  .header-title {
    @apply font-normal text-lg text-[#666] font-orbitron;
  }
  .header-subtitle {
    @apply text-[27px] font-bold;
  }
}

:root {
  --green-color: #6cff8d;
  --dark-green-color: #6cff8c7a;
  --red-color: #f44336;
  --blue-color: #2196f3;
}

* {
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
